h1{
    color: blue;
}
h2{
    color: blueviolet;
}
p{
    color: coral;
}
div{
    color: aquamarine; margin-left: 50px; font-size: 40px;
}
#p1{
    font-family: Courier New;
}
body{
    background-color: cornflowerblue;
}
